ul.nav-links {
    list-style-type: none;
    margin: 0 0 1em;  /* optimized margin, only 1em to bottom */
    padding: 0;


}
li {
    margin: 1em 0 auto;
    text-align: center;
    display: block;
    background-color: #cccccc;
    padding: 1em;
    width: calc(95% - 1em);


}
h1 {
    text-align: center;
    padding-bottom: 1em;
    /*background-color: blue;*/
    font-weight: bold;
    width: 99%;


}

div.alert-info {
    position: relative;
    text-align: center;
    border: 0.125em lightgrey solid;
    margin: auto;
    background-color: #c0ffff;
    padding: 1em;
    width: calc(95% - 1em);

}
div.alert-info>a:link{
    text-decoration: none;
    color: black;

}
img {
    width: 99%;
    height: 95%;
}
#main>h2 {
    font-weight: bold;
}
.sub-section {
    /*font-weight: bold;*/
    font-style: italic;
}
footer {
    margin-top: 10em;
}
/*Small devices*/
@media screen and (min-width: 768px) {

}
/*Medium devices*/
@media screen and (min-width: 992px) {
    h1 {
        /*position: relative;*/
        padding: 0;
        margin: 0;
        text-align: left;
        float: right;
    }
    .hidden-on-desktop {
        display: none;
    }
    nav {
        /*position: relative;*/
        float: right;
        margin: 0;
    }

    li {
        background-color: white;
        display: inline;

    }

    .sub-section{
        float:left;
        width: 50%;
    }
    .main{
        float: right;
        width: 50%
    }
    footer {
        margin-top: 40em;
    }
}
/*Large devices (large desktops)*/
@media screen and (min-width: 1200px){
    h1 {
        /*position: relative;*/
        padding: 0;
        margin: 0;
        text-align: left;
        float: right;
    }
    .hidden-on-desktop {
        display: none;
    }
    nav {
        /*position: relative;*/
        float: right;
        margin: 0;
    }

    li {
        background-color: white;
        display: inline;

    }

    .sub-section{
        float:left;
        width: 50%;
    }
    .main{
        float: right;
        width: 50%
    }
    footer {
        margin-top: 40em;
    }
}