body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
:root {
    --bg-info: #cbdcff;
    --text-info: #583daa;
    --bg-success: #c6f6d9;
    --text-success: #308b53;
}

.message {
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.message-info {
    color: var(--text-info);
    background-color: var(--bg-info);

}

.message-success {
    color: var(--text-success);
    background-color: var(--bg-success);

}

.message-warning {
    color: #bdb454;
    background-color: #fbfec3;

}
.message-error {
    color: #a63e50;
    background-color: #ffd1d6;

}